- if current_page.data.title == "Piezoelectric Plate Sensor (PEPS)"
  = image_tag "peps-1.png", alt: 'Piezoelectric Plate Sensor diagram'
  %p.center
    %strong Optical top view (a) and SEM side view (b) of a PEPS

  = image_tag "peps-2.png", alt: 'Piezoelectric Plate Sensor diagram'
  %p.center
    %strong Resonance Spectra of a PEPS

  = image_tag "peps-3.png", alt: 'Piezoelectric Plate Sensor diagram'
  %p.center
    %strong 1-step DNA/RNA detection from sample to results

  = image_tag "peps-4.png", alt: "Something"
  %p.center
    %strong (a) Photograph and (b) blow-up of custom-built lab prototype of the one-step genetic detection system.
  = image_tag "peps-5.png", alt: "Something"
  %p.center
    %strong (a) Schematic and (b) relative frequency shift, Δf/f versus time of 6-PEPS array simultaneously detecting 6 codon-12 KRAS mutations.

- elsif current_page.data.title == "Piezoelectric Finger (PEF)"
  = image_tag "pef-1.png", alt: 'Piezoelectric Finger diagram'
  %p.center
    %strong A lab prototype of the PEF Breast Detector

  = image_tag "pef-2.png", alt: 'Piezoelectric Finger diagram'
  %p.center
    %strong iBE<sup>TM</sup> Commercialized PEF Breast Detector

  = image_tag "pef-3.png", alt: 'Piezoelectric Finger diagram'
  %p.center
    %strong PEF breast cancer detector in patient

  = image_tag "pef-4.png", alt: 'Piezoelectric Finger diagram'

- elsif current_page.data.title == "Aqueous Quantum Dots (AQDs) Molecular Probe"
  = image_tag "aqd-1.png", alt: 'Aqueous Quantum Dots diagram'
  %p.center
    %strong High-sensitivity, high-specificity, Tn antigen-AQDs molecular probe for breast cancer imaging

  = image_tag "aqd-2.png", alt: 'Aqueous Quantum Dots diagram'
  %p.center
    %strong Positive margin imaged by (a) the IVIS and (b) Tn-AQD molecular probe (MP)—Tn-AQD MP provides a more accurate cancerous extent.

  = image_tag "aqd-3.png", alt: 'Aqueous Quantum Dots diagram'
  %p.center
    %strong NIR, charge-neutral, non-cytotoxic SnS AQDs for ultrahigh signal-to-noise ratio bio-imaging.

  = image_tag "aqd-4.png", alt: 'Aqueous Quantum Dots diagram'
  %p.center
    %strong High-efficient (75%) gene delivery (RFP) by AQDs complex—Green for AQDs, Red for RFP expression, and Blue for nuclei.
