---
title: Home
---

%ul.bxslider
  %li= image_tag "http://placehold.it/500x335&text=one", title: "#{link_to 'Piezoelectric Plate Sensor (PEPS)', 'research/piezoelectric-plate-sensor', class: 'more-link'}"
  %li= image_tag "http://placehold.it/500x335&text=two", title: "#{link_to 'Piezoelectric Finger (PEF)', 'research/piezoelectric-finger', class: 'more-link'}"
  %li= image_tag "http://placehold.it/500x335&text=three", title: "#{link_to 'Aqueous Quantum Dots (AQDs) Molecular Probe', 'research/aqueous-quantum-dots', class: 'more-link'}"
  %li= image_tag "http://placehold.it/500x335&text=four", title: "#{link_to 'Instant Antimicrobial Susceptibility Test (iAST)', 'research/instant-antimicrobial-susceptibility-test', class: 'more-link'}"

%h2
  = data.info.site.title
  %br
  %small Research Overview
%p
  Dr. Shih’s research interest lies in combining her science and engineering background with biology to create unconventional, low-cost biomedical devices to serve a wider population that otherwise have little or no access to the conventional facilities. The following are examples of her research areas:
  %strong Piezoelectric Plate Sensor (PEPS)
  ,
  %strong Piezoelectric Finger (PEF)
  ,
  %strong Aqueous Quantum Dots (AQDs) Molecular Probe
  ,
  %strong Instant Antimicrobial Susceptibility Test (iAST)